<form [formGroup]="this.webSvc.numOptions">
    <label>Número de páginas</label>  
    <button (click)="upPage()">+</button>
    <input type="text" formControlName="quantPags" value="{{ this.webSvc.numPags }}" (keyup)="showPricesPag()">
    <button (click)="downPage()">-</button>
    <img src="assets/circle-info-solid.svg" (click)="openXLPag(content)"><br><br>
    <label>Número de idiomas</label> 
    <button (click)="upLeng()">+</button>
    <input type="text" formControlName="quantIdioms" value="{{ this.webSvc.numIdioms }}" (keyup)="showPricesLeng()">
    <button (click)="downLeng()">-</button>
    <img src="assets/circle-info-solid.svg" (click)="openXLLeng(content)">
</form>

<ng-template #content let-modal>
    <div class="modal-body" [ngStyle]="{'padding': '35px', 'border': '2px solid black', 'font-size': '1.2rem' }">
        En este componente debe indicar el número de {{ infoWeb }} que tendrá su sitio web.<br>
    </div>
</ng-template>