form{
    border: 3px solid black;
    border-radius: 10px;
    width: 355px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.6rem;
    margin-bottom: 1rem;
}
input{
    width:16%;
    height: 2rem;
    margin: 0px 4px 6px 4px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
}
form>button{
    background: coral;
    color: white;
    font-size: 1.6rem;
    width: 2.4rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:active{
    background: orangered;
    transform: scale(.98);
    border-inline: 1px solid silver
}
label{
    padding-top: -10px;
    margin-right: 10px;
    font-size: 1.1rem;
}
img{
    width: 22px;
    margin: 0px 0px 12px 6px;
    cursor: pointer;
}
@media(max-width: 930px){
    form{
        max-width: 140px;
    }
    input{
        width: 20%;
    }
    label{
        font-size: .7rem;
    }
}